
nav {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 0;
}

.align-horizontal-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-clean {
  margin: 0;
}

.margin-clean-important {
	margin: 0 !important;
}

.margin-bottom-header {
	margin-bottom: 1em;
}

.padding-clean {
  padding: 0;
}

.padding-clean-important {
	padding: 0 !important;
}

.text-color-verde {
  color: #4ACA74;
}

.text-nav-size {
  font-size: 12pt;
}

.text-bold {
  font-weight: 700;
}

.width-item-nav {
  width: 15em;
  text-align: center;
}

.height-nav {
  height: 3em;
}

.hide-overflow {
  overflow: hidden;
}

.align-horizontal-vertical li a:hover {
  background-color: #4ACA74;
  color: #FFFFFF;
}

.align-vertical {
	display: flex !important;
	align-items: center !important;
}

.text-title-nav {
  font-weight: 700;
  font-size: 15pt;
}

@media (max-width: 979px) {
	.height-nav {
		height: 4em !important;
	}

	.max-height-nav {
		max-height: 4em !important;
	}

  .width-image-somos {
    width: 50% !important;
  }
}

@media (max-width: 980px) {
	nav {
		background-color: #4ACA74;
		box-shadow: 0 10px 0 10px;
	}

	.shadow-nav-phone {
		box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 10px rgba(0, 0, 0, .2) inset;
	}

  .background-datahub {
    background-image: url('../images/institucion/datahub-vertical.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 2000px) {
  .width-item-nav {
	width: 20em;
	text-align: center;
  }

  .text-nav-size {
	font-size: 15pt;
  }

  .height-nav {
	 height: 4em;
  }
}

.max-height-header {
  max-height: 7em;
}

.height-header {
  height: 7em;
}

.width-full {
  width: 100%;
}

.height-full {
	height: 100%;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.btn-color {
  background-color: #4ACA74;
}

.btn-color:hover {
  background-color: #4ACA74; 
}

.margin-input-search {
  margin: 0 1em 0 5em !important;
}

.height-50 {
	max-height: 3em;
}

.background-header {
	background-color: #FFF;
}

.parallax-container {
	height: 100vh; 
}

.h5-bold {
  font-weight: 700;
}

.elevation-header {
	z-index: 1020;
}

.background-image {
	background: url('../images/institucion/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.shadow-nav {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 0 5px rgba(0, 0, 0, .1) inset;
}

.height-vh {
	height: 100vh !important; 
}

.display-block {
	display: block;
}

.background-none {
	background: none !important;
}

.opacity {
  opacity: .8;
}

.padding-top-content-noticia {
  padding-top: 5em !important;
}

.padding-clean-important {
  padding: 0 !important;
}

.margin-clean-important {
  margin: 0 !important;
}

.height-content-noticia-up {
  height: 65vh !important;
}

.height-vh-90 {
  height: 100% !important;
}

.height-content-noticia-down {
  height: 35vh !important;
  /*height: 30% !important;*/
}

@media (max-width : 800px) { 

  .margin-top-menu-1 {
    margin-top: 0;
  }

  .margin-top-menu-2 {
    margin-top: 0;
  }

  .margin-top-menu-3 {
    margin-top: 0;
  }
  
  .c-circle-menu__toggle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

}

.z-index-content-estadisticas {
  z-index: 10 !important;
}

.margin-bottom-clean {
  margin-bottom: 0 !important;
}

.margin-top-clean {
  margin-top: 0 !important;
}

.height-media-porcentage {
  height: 50% !important;
}

/* Style Content Boletines */

#diapo {
  position: relative;
  height: 30em;
  text-align: center;
  margin: 2em 2em;
}

#diapo div {
  display:inline-block;
}

#diapo > * + * {
  margin-left: 5px;
}

.big_image {
  position:absolute;
  display:block;
  width:100%;
  height: 100%;
  top:100px;
  left:0;
  right:0;
  margin:0 auto;
  opacity:0;
  border:10px solid #FFF;
  box-shadow: 0 2px 8px 2px #666;

  -webkit-transform:scale(0.25);
     -moz-transform:scale(0.25);
      -ms-transform:scale(0.25);
       -o-transform:scale(0.25);
          transform:scale(0.25);

  -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}

.big_image:hover {
  cursor: pointer;
}

.r_check, .on_check {
  cursor: pointer;
}

.r_check:checked ~ label img {
  opacity:0.25;
  border:2px solid #006699;
}

.r_check:checked ~ a .big_image {
  opacity:1;

  -webkit-transform:scale(1);
     -moz-transform:scale(1);
      -ms-transform:scale(1);
       -o-transform:scale(1);
          transform:scale(1);
}

.r_check {
  opacity:0;
  position:absolute;
}

label img.vignette {
  width:100px;
  height:75px;
  border:2px solid #FFF;
}

.retour {
  color:#909090;
  font-size:1em;
  left:1em;
  bottom:1em;
  position:fixed;
  text-decoration:none;
  font-style:italic;
  text-shadow:1px 1px 0px #FFF;
}

.retour:hover {
  font-style:normal;
  color:#706040;
}

/* End Style Content Boletin */

.padding-left {
  padding-left: 0 !important;
}

.height-vh-important {
  height: 100vh !important;
}

.active-option {
  background: #4ACA74 !important;
  color: #FFF !important;
}

.inactive-option {
  background: #FFF !important;
  color: #4ACA74 !important;
}

.background-datahub {
  background-image: url('../images/institucion/datahub.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-btn-back {
  font-weight: 700 !important;
  color: #000 !important;
  z-index: 2020 !important;
}

.margin-top-datahub {
  padding-top: 2em !important;
}

.padding-right-clean {
  padding-right: 0 !important;
}

.padding-left-clean {
  padding-left: 0 !important;
}

.z-index-content-datahub {
  z-index: 2020 !important;
}

.width-image-somos {
  width: 30%;
}

.height-banner {
  max-height: 25em !important;
  overflow: hidden;
}

.text-justify {
  text-align: justify;
}

.tamano-icons-estadistica {
  width: 3em;
  padding: 5px;
}

.tamano-logo-gobernacion {
  width: 10em;
}

.ir-arriba {
  display:none;
  padding:10px;
  background:#4ACA74;
  font-size:30px;
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
  z-index: 1010;
}

.background-logoice {
  background: url('../images/institucion/logoice.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tamano-image-logo {
  width: 30% !important;
}

.padding-left-right-carousel {
  padding-left: 2em;
  padding-right: 2em;
}